<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmosSportCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0FA58911B4678D400E3BE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FA58AD1B4678D400E3BE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0FA58B81B4678D400E3BE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
