<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>努力画满每一天的圈圈吧！</string>
	<string>今天没有运动，做个计划吧！</string>
	<string>每日的计划可以同步到系统日历里去哦</string>
	<string>为过去创建的运动计划默认已完成</string>
	<string>别人只看到腹肌，而我们看到了坚毅和决心</string>
</array>
</plist>
