<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sportName</key>
		<string>史密斯机平板卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>初级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板哑铃推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>初级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>蝴蝶夹胸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>10</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>初级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>俯卧撑</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>20</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>初级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿器械下拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>初级背部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>35</string>
		<key>groupSetName</key>
		<string>初级背部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>单臂俯身划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>初级背部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃硬拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>13</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>初级背部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃侧平举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>12</string>
		<key>groupSetName</key>
		<string>初级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃耸肩</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>初级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃前平举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>12</string>
		<key>groupSetName</key>
		<string>初级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿哑铃推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>10</string>
		<key>weight</key>
		<string>10</string>
		<key>groupSetName</key>
		<string>初级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>史密斯机深蹲</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>8</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>初级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>箭步蹲</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>初级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>45度仰卧推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>10</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>初级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>高板踏步</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>20</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>初级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>杠铃屈臂</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>初级手臂运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械弯举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>初级手臂运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>凳上反屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>初级手臂运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>绳索下拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>初级手臂运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板卷腹</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>15</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>25</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>初级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧举腿</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>9</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>18</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>初级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板支撑</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>1</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>初级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>双杠胸肌臂屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>上斜杠铃卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>中级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板杠铃卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>8</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>中级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板哑铃推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>中级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧哑铃飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级胸部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>双杠胸肌臂屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>下胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>杠铃平板下斜推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>55</string>
		<key>groupSetName</key>
		<string>下胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板器械卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>下胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧下斜哑铃飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>下胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>夹肘俯卧撑</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>9</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>18</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>下胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧绳索飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>上胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>上斜杠铃卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>上胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧哑铃上斜飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>上胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>对向滑轮扩胸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>上胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>俯卧撑</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>上胸肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>引体向上</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级背部运动组合1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>辅助引体向上</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>9</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>18</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>中级背部运动组合1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>俯身杠铃划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>8</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>中级背部运动组合1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械反向飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级背部运动组合1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>引体向上</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级背部运动组合2号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>T杠俯身划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级背部运动组合2号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>窄握绳索下拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级背部运动组合2号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿宽握绳索划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>中级背部运动组合2号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>单臂俯身划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>中级背部运动组合2号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械肩上推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>中级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>绳索立正划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>中级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃侧平举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>13</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>中级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>俯身飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>15</string>
		<key>groupSetName</key>
		<string>中级肩部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>宽握杠铃深蹲</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>5</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>中级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械腿屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>13</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>中级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械俯卧腿弯举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>中级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>45度仰卧推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>中级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿哑铃负重提踵</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>10</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级腿部运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>环型杠铃弯举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>25</string>
		<key>groupSetName</key>
		<string>中级二头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>高位单屈臂</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>9.333333333333334</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>14</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>中级二头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>二头肌引体向上</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>10</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级二头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>俯身绳索臂屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>35</string>
		<key>groupSetName</key>
		<string>中级三头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃臂屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>8</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>18</string>
		<key>groupSetName</key>
		<string>中级三头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>窄握杠铃推举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>中级三头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>站姿绳索下拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>6</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>12</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>中级三头肌运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>硬拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>12.5</string>
		<key>repeats</key>
		<string>5</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>中级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>健身球卷腹</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>12.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>25</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>V字卷腹</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>12.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>25</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>悬垂举腿</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>12.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>25</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板支撑</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>1</string>
		<key>weight</key>
		<string>999</string>
		<key>groupSetName</key>
		<string>中级核心运动组合</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>平板杠铃卧推</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>60</string>
		<key>groupSetName</key>
		<string>背胸对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿宽握绳索划船</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>50</string>
		<key>groupSetName</key>
		<string>背胸对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>仰卧哑铃飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>背胸对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>器械反向飞鸟</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>40</string>
		<key>groupSetName</key>
		<string>背胸对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>环型杠铃弯举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>手臂对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>哑铃俯身臂屈伸</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>10</string>
		<key>repeats</key>
		<string>4</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>手臂对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>坐姿哑铃单臂弯举</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>20</string>
		<key>groupSetName</key>
		<string>手臂对抗超级组1号</string>
	</dict>
	<dict>
		<key>sportName</key>
		<string>站姿绳索下拉</string>
		<key>sportType</key>
		<string>1</string>
		<key>timeLast</key>
		<string>7.5</string>
		<key>repeats</key>
		<string>3</string>
		<key>times</key>
		<string>15</string>
		<key>weight</key>
		<string>30</string>
		<key>groupSetName</key>
		<string>手臂对抗超级组1号</string>
	</dict>
</array>
</plist>
