<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>groupPart</key>
          <string>胸部</string>
          <key>groupName</key>
          <string>初级胸部运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>背部</string>
          <key>groupName</key>
          <string>初级背部运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>肩部</string>
          <key>groupName</key>
          <string>初级肩部运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>腿部</string>
          <key>groupName</key>
          <string>初级腿部运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>手臂</string>
          <key>groupName</key>
          <string>初级手臂运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>核心</string>
          <key>groupName</key>
          <string>初级核心运动组合</string>
          <key>groupLevel</key>
          <string>1</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>胸部</string>
          <key>groupName</key>
          <string>中级胸部运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>胸部</string>
          <key>groupName</key>
          <string>下胸肌运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>胸部</string>
          <key>groupName</key>
          <string>上胸肌运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>背部</string>
          <key>groupName</key>
          <string>中级背部运动组合1号</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>背部</string>
          <key>groupName</key>
          <string>中级背部运动组合2号</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>肩部</string>
          <key>groupName</key>
          <string>中级肩部运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>腿部</string>
          <key>groupName</key>
          <string>中级腿部运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>手臂</string>
          <key>groupName</key>
          <string>中级二头肌运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>手臂</string>
          <key>groupName</key>
          <string>中级三头肌运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>手臂</string>
          <key>groupName</key>
          <string>手臂对抗超级组1号</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>核心</string>
          <key>groupName</key>
          <string>中级核心运动组合</string>
          <key>groupLevel</key>
          <string>2</string>
    </dict>
    <dict>
          <key>groupPart</key>
          <string>综合</string>
          <key>groupName</key>
          <string>背胸对抗超级组1号</string>
          <key>groupLevel</key>
          <string>3</string>
    </dict>
</array>
</plist>