<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>chest</string>
	<string>back_muscles</string>
	<string>shoulders</string>
	<string>leg_muscles</string>
	<string>arm_muscles</string>
	<string>running</string>
	<string>prelum</string>
	<string>squats</string>
	<string>yoga</string>
</array>
</plist>
