<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sportName</key>
		<array>
			<string>卧推（平板杠铃）</string>
			<string>卧推（上斜杠铃）</string>
			<string>卧推（下斜杠铃）</string>
			<string>卧推（平板哑铃）</string>
			<string>卧推（上斜哑铃）</string>
			<string>卧推（下斜哑铃）</string>
			<string>飞鸟（器械）</string>
			<string>飞鸟（哑铃）</string>
			<string>俯卧撑</string>
		</array>
		<key>sportType</key>
		<string>胸部</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>引体向上</string>
			<string>划船（哑铃）</string>
			<string>划船（器械）</string>
			<string>坐姿下拉</string>
			<string>杠铃划船</string>
		</array>
		<key>sportType</key>
		<string>背部</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>哑铃前平举</string>
			<string>杠铃直立划船</string>
			<string>哑铃侧弯举</string>
			<string>杠铃上推</string>
			<string>俯身哑铃弯举</string>
		</array>
		<key>sportType</key>
		<string>肩部</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>杠铃深蹲</string>
			<string>箭步蹲（杠铃）</string>
			<string>箭步蹲（哑铃）</string>
			<string>罗汉蹲</string>
			<string>坐姿提踵</string>
		</array>
		<key>sportType</key>
		<string>腿部</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>跑步</string>
			<string>椭圆机</string>
			<string>游泳</string>
			<string>登山机</string>
			<string>HIIT</string>
		</array>
		<key>sportType</key>
		<string>体力</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>卷腹（V字）</string>
			<string>卷腹（健身球）</string>
			<string>羚羊挺身</string>
			<string>硬拉（杠铃）</string>
			<string>硬拉（单腿）</string>
			<string>杠铃高翻</string>
			<string>杠铃高翻（+深蹲）</string>
			<string>平板支撑</string>
		</array>
		<key>sportType</key>
		<string>核心</string>
	</dict>
	<dict>
		<key>sportName</key>
		<array>
			<string>TRX</string>
			<string>爬楼梯</string>
			<string>其他运动</string>
		</array>
		<key>sportType</key>
		<string>其他</string>
	</dict>
</array>
</plist>
